<div class="container">
    <div class="row">
        <h1>Location Manager</h1>
        <div class="col-3 my-1">
            <button pButton type="button" label="Add Location" (click)="ToggleLocationDialog()"></button>
        </div>
        <div class="">


            <ag-grid-angular style="width: 100%; height: 50vh;" class="ag-theme-alpine" [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef" [rowData]="locations | async" (gridReady)="onGridReady($event)"
                (cellClicked)="onCellClicked($event)">
            </ag-grid-angular>
        </div>
    </div>
</div>



<p-dialog header="{{DialogHeader}}" [(visible)]="ShowLocationDialog" [style]="{width: '50vw'}" [modal]="true">
    <div class="row">

        <h5 class="col-12 my-1">Location Information</h5>
        <div class="col-md-4 my-2">
            <label>Name</label>
            <input type="text" pInputText [(ngModel)]="dialogLocation.name">
        </div>
        <div class="col-md-4 my-2">
            <label>Store Number</label>
            <input type="number" pInputText [(ngModel)]="dialogLocation.storeNumber">
        </div>




        <h5 class="col-12 mt-5">Primary Contact Information</h5>

        <div class="col-4 my-1">
            <label>First Name</label>
            <input type="text" pInputText [(ngModel)]="dialogLocation.contact.firstName">

        </div>

        <div class="col-4 my-1">
            <label>Last Name</label>
            <input type="text" pInputText [(ngModel)]="dialogLocation.contact.lastName">

        </div>

        <div class="col-4 my-1">
            <label>Title (i.e. 'Owner', 'Manager')</label>
            <input type="text" pInputText [(ngModel)]="dialogLocation.contact.title">
        </div>

        <div class="col-4 my-1">
            <label>Phone</label>
            <p-inputMask mask="(999) 999-9999" placeholder="(999) 999-9999" [(ngModel)]="dialogLocation.contact.phone">
            </p-inputMask>
        </div>

        <div class="col-8 my-1">
            <label>Email Address</label>
            <input type="text" pInputText [(ngModel)]="dialogLocation.contact.emailAddress">
        </div>



        <h5 class="col-12 mt-5">Location Address</h5>

        <div class="col-6 my-1">
            <label>Address Line 1</label>
            <input type="text" pInputText [(ngModel)]="dialogLocation.address.addressLine1">
        </div>

        <div class="col-6 my-1">
            <label>Address Line 12</label>
            <input type="text" pInputText [(ngModel)]="dialogLocation.address.addressLine2">
        </div>

        <div class="col-4 my-1">
            <label>City</label>
            <input type="text" pInputText [(ngModel)]="dialogLocation.address.city">
        </div>

        <div class="col-4 my-1">
            <label>State</label>
            <input type="text" pInputText [(ngModel)]="dialogLocation.address.state">
        </div>

        <div class="col-4 my-1">
            <label>Zip</label>
            <input type="number" pInputText [(ngModel)]="dialogLocation.address.zip">
        </div>


        <div class="d-flex justify-content-end mt-3">
            <p-button label="Submit" (onClick)="SaveLocation()"></p-button>
        </div>

    </div>

</p-dialog>