<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="my-3">
                <p-dropdown [options]="locations" [(ngModel)]="selectedLocation" optionLabel="name"></p-dropdown>
            </div>
        </div>
    </div>


    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success my-3"
        (click)="ShowUserDialog()"></button>
</div>

<p-dialog header="Add New User" [(visible)]="userDialog" [style]="{width: '50vw'}">
    <div class="row">
        <div class="col-md-4 my-3">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="dialogContact.firstName">
                <label for="float-input">First Name</label>
            </span>
        </div>
        <div class="col-md-4 my-3">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="dialogContact.lastName">
                <label for="float-input">Last Name</label>
            </span>
        </div>
        <div class="col-md-4 my-3">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="dialogContact.title">
                <label for="float-input">Title</label>
            </span>
        </div>
        <div class="col-md-6 my-3">
            <span class="p-float-label">
                <p-inputMask mask="(999) 999-9999" placeholder="(999) 999-9999" [(ngModel)]="dialogContact.phone"></p-inputMask>         
                <label for="float-input">Phone Number</label>
            </span>
        </div>
        <div class="col-md-6 my-3">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="dialogContact.emailAddress">
                <label for="float-input">Email Address</label>
            </span>
        </div>

        <div class="d-flex justify-content-end">
            <p-button label="Submit" (onClick)="SaveUser()"></p-button>
        </div>

    </div>

</p-dialog>

<div class="container">
    <ag-grid-angular style="width: 100%; height: 50vh;" class="ag-theme-alpine" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" [rowData]="users | async" (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)">
    </ag-grid-angular>

</div>