<div class="row container-fluid">
    <div class="col-md-12">
        <div class="mb-3">
            <p-dropdown [options]="locations" [(ngModel)]="selectedLocation" optionLabel="name"></p-dropdown>
        </div>
    </div>

    <!-- <app-recipes></app-recipes> -->


    <div class="col-md-4">
        <div class="row">
            <div class="col-6 row">
                <div class="col-6 mb-3">
                    <h4>Ingredients</h4>
                </div>

                <div class="col-6 text-end mb-3">
                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success"
                        (click)="ShowIngredientDialog()"></button>
                </div>

                <p-table [value]="ingredients">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of ingredientCols">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-ingredient>
                        <tr>
                            <td>{{ingredient.name}}</td>
                            <td>{{ingredient.hasAllergens}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

    <div class="col-md-8 ">
        <div class="row">
            <div class="col-6 row">
                <div class="col-6 mb-3">
                    <h4>Recipe</h4>
                </div>

                <div class="col-6 text-end mb-3">
                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success"
                        (click)="ShowRecipeDialog()"></button>
                </div>
                <p-table [value]="recipes">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of recipeCols">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-recipe>
                        <tr>
                            <td>{{recipe.name}}</td>
                            <td>{{recipe.minutes}}</td>
                            <td>{{recipe.isPrepRecipe}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success me-2"
                                    (click)="editRecipe(recipe)"></button>
                                <button pButton pRipple icon="pi pi-book" class="p-button-rounded p-button-info"
                                    (click)="viewRecipe(recipe)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="col-6" *ngIf="RecipeSelected">
                <h4>{{recipe.name}}</h4>

                <ul *ngFor="let ingredient of recipe.ingredients">
                    <li>{{ingredient.measurementAmount}} {{ingredient.measurement.name}} -
                        {{ingredient.ingredient.name}}</li>
                </ul>

                <b>Instructions</b>
                <ol>
                    <li *ngFor="let step of recipe.steps">{{step.description}}</li>
                </ol>

                <b *ngIf="recipe.notes.length > 0">Notes</b>

                <div *ngIf="recipe.notes.length > 0">
                    <ol>
                        <li *ngFor="let note of recipe.notes">{{note.description}}</li>
                    </ol>
                </div>
            </div>

        </div>
    </div>



</div>

<p-dialog header="Add Ingredient" [(visible)]="newIngredientDialog">
    <div class="row mt-3">
        <div class="col-5">
            <b>Ingredient Name</b>
            <input type="text" pInputText [(ngModel)]="newIngredient.name">
        </div>

        <div class="col-7">
            <b>Allergens</b>

            <p-listbox [options]="allergens" [(ngModel)]="selectedAllergens" [metaKeySelection]="false"
                [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name">
                <ng-template let-allergen pTemplate="item">
                    <div>
                        <div>{{allergen.name}}</div>
                    </div>
                </ng-template>
            </p-listbox>
        </div>

        <div class="col-12">
            <button pButton type="button" label="Add Ingredient" (click)="CreateIngredient()"></button>

        </div>
    </div>
</p-dialog>

<p-dialog header="Add Recipe" [(visible)]="recipeDialog" [style]="{width: '70vw', height: '90vh'}">
    <div class="row mt-3">
        <div class="col-12">
            <b>Recipe Name</b>
            <input type="text" pInputText [(ngModel)]="dialogRecipe.name">
        </div>

        <div class="col-6 my-2">
            <b>Average Time (min)</b>
            <input type="number" pInputText [(ngModel)]="dialogRecipe.minutes">
        </div>

        <div class="col-6 my-2">
            <b>Prep Recipe or Menu Item Recipe</b>
            <div class="field-checkbox">
                <p-checkbox [(ngModel)]="dialogRecipe.isPrepRecipe" [binary]="true" inputId="binary"></p-checkbox>
                <label for="binary"> Is this a prep recipe?</label>
            </div>
        </div>

        <div class="col-6 my-2">
            <div class="col-12">
                <b>Ingredients</b>
                <button pButton pRipple type="button" icon="pi pi-plus"
                    class="p-button-rounded p-button-success p-button-text" (click)="AddNewRecipeIngredient()"></button>
            </div>

            <div *ngFor="let ing of dialogRecipe.ingredients; let i = index" class="my-1 row">
                <div class="col-4">
                    <p-dropdown [options]="ingredients" optionLabel="name"
                        [(ngModel)]="dialogRecipe.ingredients[i].ingredientId" optionValue="id"></p-dropdown>
                </div>
                <div class="col-3">
                    <p-inputNumber [(ngModel)]="dialogRecipe.ingredients[i].measurementAmount"></p-inputNumber>
                </div>
                <div class="col-4">
                    <p-dropdown [options]="measurements" optionLabel="name"
                        [(ngModel)]="dialogRecipe.ingredients[i].measurementId" optionValue="id"></p-dropdown>
                </div>
                <div class="col-1"> <button pButton pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-text" (click)="removeIngredientFromRecipe(ing)"></button>
                </div>
            </div>

        </div>

        <div class="col-6 my-2 row">
            <div class="col-12">
                <b>Steps</b>
                <button pButton pRipple type="button" icon="pi pi-plus"
                    class="p-button-rounded p-button-success p-button-text" (click)="AddNewRecipeStep()"></button>
            </div>

            <div *ngFor="let step of dialogRecipe.steps; let i = index" class="my-1 row">
                <div class="col-11">
                    <textarea pInputTextarea [rows]="1" [(ngModel)]="dialogRecipe.steps[i].description"></textarea>
                </div>

                <div class="col-1">
                    <button pButton pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-text" (click)="removeStepFromRecipe(step)"></button>
                </div>
            </div>
        </div>

        <div class="col-6 my-2">
            <div class="col-12">
                <b>Notes</b>
                <button pButton pRipple type="button" icon="pi pi-plus"
                    class="p-button-rounded p-button-success p-button-text" (click)="AddNewRecipeNotes()"></button>
            </div>

            <div *ngFor="let note of dialogRecipe.notes; let i = index" class="my-1 row">
                <div class="col-11">
                    <textarea pInputTextarea [rows]="1" [(ngModel)]="dialogRecipe.notes[i].description"></textarea>
                </div>

                <div class="col-1">
                    <button pButton pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-text" (click)="removeNoteFromRecipe(note)"></button>
                </div>

            </div>
        </div>

        <div class="col-12 my-2">
            <button pButton type="button" label="{{AddOrUpdateText}}" (click)="SaveRecipe(recipe.id)"></button>
        </div>
    </div>
</p-dialog>